* {
  box-sizing: border-box; }

a {
  color: unset; }
  a:hover {
    text-decoration: none;
    color: unset; }
  a:visited {
    color: unset; }

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #F7F7F7; }

h3 {
  font-weight: 400;
  font-size: 3rem; }

h4 {
  font-weight: 300;
  font-size: 2rem; }

h6 {
  font-size: 1.5rem;
  font-weight: 300; }

#Cover_container {
  width: 100vw;
  height: 100vh;
  background-image: url("img/Cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center; }
  #Cover_container h1 {
    grid-row-start: 2;
    align-self: end;
    color: white; }
  #Cover_container h4 {
    grid-row-start: 3;
    align-self: start;
    color: white; }
  #Cover_container svg {
    grid-row-start: 4;
    fill: rgba(255, 255, 255, 0.5);
    width: 32px;
    height: 32px;
    align-self: end; }

#Resume_container {
  width: 90vw;
  min-height: 100vh;
  height: fit-content;
  margin: 0 auto;
  padding-top: 15vh;
  padding-bottom: 10vh;
  color: #57514C; }
  #Resume_container #left-col {
    border-right: solid 1px #dddddd; }
  #Resume_container #img {
    background-image: url(img/UCAMERA_20170205_144058.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: rotate(-90deg);
    min-width: 110px;
    width: 13vw;
    max-width: 250px;
    min-height: 110px;
    height: 13vw;
    max-height: 250px; }
  #Resume_container p {
    font-size: 2rem;
    font-weight: 300;
    min-width: 272px;
    width: 80%;
    max-width: 1588px;
    margin-top: 100px;
    line-height: 64px; }
  #Resume_container .float-clear {
    clear: both; }
  #Resume_container .multi {
    float: left; }
  @media screen and (max-width: 1200px) {
    #Resume_container p {
      font-size: 1rem;
      line-height: 32px; } }
  @media screen and (max-width: 768px) {
    #Resume_container p {
      margin-top: 4rem; } }

#Portifolio_container {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  color: #57514C; }
  #Portifolio_container .card {
    min-width: 299px;
    width: 20vw;
    max-width: 388px;
    min-height: 418px;
    height: 28vw;
    max-height: 542px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transform: translate(0px, 0px);
    transition: box-shadow 0.2s linear,transform 0.2s linear;
    cursor: pointer; }
    #Portifolio_container .card .card-cover {
      height: 455px;
      overflow: hidden; }
    #Portifolio_container .card:hover {
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.16);
      transform: translate(0px, -2px); }
  #Portifolio_container #pages {
    width: 70vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center; }
    #Portifolio_container #pages .page {
      width: fit-content;
      margin: 0 auto;
      cursor: pointer; }
      #Portifolio_container #pages .page:nth-child(3) h6 {
        color: #DDD23B; }
    #Portifolio_container #pages .mark {
      min-width: 42px;
      width: 3vw;
      max-width: 55px;
      min-height: 42px;
      height: 3vw;
      max-height: 55px;
      background-color: #707070;
      border-radius: 50%;
      transition: all 0.2s linear; }
    #Portifolio_container #pages .mark-act {
      min-width: 42px;
      width: 3vw;
      max-width: 55px;
      min-height: 42px;
      height: 3vw;
      max-height: 55px;
      border-radius: 50%;
      background-color: #DDD23B; }
    #Portifolio_container #pages h6 {
      margin-top: 32px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      writing-mode: vertical-lr;
      color: #AAAAAA; }

#Capability_container {
  width: 100vw;
  height: 100vh; }
  #Capability_container .ability {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red; }
    #Capability_container .ability .title {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #f7f7f7;
      margin: 5px auto; }

#Moreinfo_container {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  color: #707070; }
  #Moreinfo_container p {
    width: 70vw; }
  #Moreinfo_container svg {
    fill: #707070; }
  #Moreinfo_container button {
    color: white;
    background-color: #E98B2A;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
  #Moreinfo_container #footer {
    color: rgba(112, 112, 112, 0.5); }

@media screen and (max-width: 1200px) {
  h3 {
    font-size: 1.5rem; }
  h4 {
    font-size: 1rem; } }
