* {
  box-sizing: border-box; }

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #F7F7F7; }

h3 {
  font-weight: 400;
  font-size: 3rem; }

h4 {
  font-weight: 300;
  font-size: 1.5vw; }

h6 {
  font-size: 1.5rem;
  font-weight: 300; }

#Cover_container {
  width: 100vw;
  height: 100vh;
  background-image: url("img/Cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center; }
  #Cover_container h1 {
    grid-row-start: 2;
    align-self: end;
    color: white; }
  #Cover_container h4 {
    grid-row-start: 3;
    align-self: start;
    color: white; }
  #Cover_container svg {
    grid-row-start: 4;
    fill: rgba(255, 255, 255, 0.5);
    width: 32px;
    height: 32px;
    align-self: end; }

#Resume_container {
  width: 90vw;
  min-height: 100vh;
  height: fit-content;
  margin: 0 auto;
  padding-top: 15vh;
  padding-bottom: 10vh;
  color: #57514C; }
  #Resume_container #left-col {
    border-right: solid 1px #dddddd; }
  #Resume_container #img {
    background-image: url(img/UCAMERA_20170205_144058.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: rotate(-90deg);
    width: 250px;
    height: 250px; }
  #Resume_container p {
    font-size: 1.5vw;
    font-weight: 300;
    min-width: 272px;
    width: 80%;
    max-width: 1588px;
    margin-top: 100px;
    line-height: 64px; }
  #Resume_container .float-clear {
    clear: both; }
  #Resume_container .multi {
    float: left; }

#Portifolio_container {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2; }
  #Portifolio_container .card {
    width: 388px;
    height: 542px; }
    #Portifolio_container .card .card-cover {
      height: 455px;
      overflow: hidden; }
  #Portifolio_container #pages {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; }
    #Portifolio_container #pages .mark {
      width: 50px;
      height: 50px;
      background-color: #707070;
      border-radius: 50%;
      grid-row-start: 1; }
    #Portifolio_container #pages .mark-act {
      background-color: #DDD23B; }
    #Portifolio_container #pages h6 {
      margin-top: 32px;
      writing-mode: vertical-lr;
      grid-row-start: 2;
      color: #AAAAAA; }

#Capability_container {
  width: 100vw;
  height: 100vh; }

#Moreinfo_container {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  color: #707070; }
  #Moreinfo_container p {
    width: 70vw; }
  #Moreinfo_container svg {
    fill: #707070; }
  #Moreinfo_container button {
    color: white;
    background-color: #E98B2A;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
  #Moreinfo_container #footer {
    color: rgba(112, 112, 112, 0.5); }
