#Cover_container{
    width: 100vw;
    height: 100vh;
    background-image: url('img/Cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    h1{
        grid-row-start: 2;
        align-self:end;
        color: white;
    }
    h4{
        grid-row-start: 3;
        align-self: start;
        color: white;
    }
    svg{
        grid-row-start: 4;
        fill: rgba($color: #FFF, $alpha: 0.5);
        width: 32px;
        height: 32px;
        align-self: end;
    }
};