$text-clr:#57514C;
$gray-bg:#F2F2F2;
@mixin circle($score,$clr,$animation) {
    stroke: $clr;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dashoffset: 109.9;
    stroke-dasharray:439.6*$score/100,439.6*(100-$score)/100;
}
*{
    box-sizing: border-box;
}
a{
    color: unset;
    &:hover{
        text-decoration: none;
        color: unset;
    }
    &:visited{
        color: unset;
    }
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #F7F7F7;
}
h3{
    font-weight: 400;
    font-size: 3rem;
}
h4{
    font-weight: 300;
    font-size: 2rem;
}
h6{
    font-size: 1.5rem;
    font-weight: 300;
}

@import "Cover","Resume","Portifolio","Capability","MoreInfo";
@media screen and (max-width:1200px){
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1rem;
    }
}