$text-clr:#57514C;
$gray-bg:#F2F2F2;
body{
    background-color: #F7F7F7;
}
h3{
    font-weight: 400;
    font-size: 3rem;
}
h4{
    font-weight: 300;
    font-size: 2rem;
}

@import "Cover","Resume","Portifolio";